/* General for the whole page */
body{
    margin: 0; /*fjerner standrad margin*/
    background-color: #f6f8fc;
    color: #172033; /*tekstfarve*/
    font-family: Arial, sans-serif; /*fonts første og andet valg*/
}

/* Sidebar */
.sidebar{
    width: 200px;
    background-color: white;
    border-right: 1px solid #e7ebf3; /*tynd blå streg i højre side af sidebaren*/
    padding: 20px; /*luft indeni sidebaren*/
    position: fixed; /*låses fast på skærmen*/
    top: 0; /*position den låses fast i*/
    left: 0; /*position den låses fast i*/
    height: 100%; /*fylder hele skærmens højde*/
}

.logo{
    font-weight: bold; /*gør teksten fed*/
    font-size: 20px;
    margin-bottom: 30px; /*luft under logoet ned til */
}

.menu-button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
}

.menu-button.active {
    background-color: #f0efff;
    color: #5d4dff;
    font-weight: bold;
}

/* Main content, right of sidebar*/